@import 'fonts';
body {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'AlteHaasGrotesk-Regular';
  color: #0f0f0f;

  ::selection {
  background: #E8E8E8;
  }
  ::-moz-selection {
  background: #E8E8E8;
  }
}

canvas {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}
h1 {
  position: absolute;
  width: 100%;
  top: 5%;
  text-align: center;
  font-family: 'AlteHaasGrotesk-Bold';
  font-size: 21px;
  opacity: 0;
  visibility: hidden;

  span {
    font-family: 'AlteHaasGrotesk-Regular';

    .phone & {
      display: block;
      margin-top: 10px;
    }
    &:before {
      position: relative;
      display: inline-block;
      content:'';
      width: 20px;
      height: 3px;
      top:-5px;
      margin-left: 10px;
      margin-right: 10px;
      background: #0f0f0f;

      .phone & {
        display: block;
        left:50%;
        margin: 0;
        margin-left: -10px;
      }
    }
  }
}

.socials {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 5%;
  padding: 0;
  margin: 0;

  opacity: 0;
  visibility: hidden;

  &.phone {
    bottom: 2%;
  }

  li {
    display: inline-block;

    a {
      text-decoration: none;
      color: #8e8e8e;
      transition: opacity 0.5s ease-out;
      &:hover {
        opacity:0.6;
        transition: opacity 0.5s ease-out;
      }
    }
    &:first-of-type {
        &:before {
          display: none;
        }
    }
    &:before {
      position: relative;
      display: inline-block;
      content:'';
      width: 10px;
      height: 2px;
      top:-5px;
      margin-left: 10px;
      margin-right: 10px;
      background: #8e8e8e;
    }
  }
}

.projects {
  position: absolute;
  display: block;
  text-align: center;
  width: 450px;
  left: 50%;
  margin:0;
  padding: 0;
  margin-left: -225px;
  bottom: 15%;

  opacity: 0;
  visibility: hidden;



  li {
    list-style: none;
    display: inline-block;
    .phone & {
      display: block;
      padding: 10px;

    }
    &:first-of-type {
        a:before {
          display: none;
        }
    }
    &:nth-child(3) {
        a:before {
          display: none;
        }
    }
    a {
      text-decoration: none;
      color: #0f0f0f;

      transition: opacity 0.5s ease-out;
      &:hover {
        opacity:0.6;
        transition: opacity 0.5s ease-out;
      }

      &:before {
        position: relative;
        display: inline-block;
        content:'';
        width: 10px;
        height: 2px;
        top:-5px;
        margin-left: 10px;
        margin-right: 10px;
        background: #0f0f0f;
        .phone & {
          display: none;

        }
      }
    }
  }
}
